<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="jumbotron" id="jumbo1">
                <h1 class="display-4">Joo CV Generator</h1>
                <p class="lead">Generate a CV Online-Fast&Easy</p>
                <hr class="my-4">
                <p id="hh">Few steps, and get your own CV</p>
                <a class="btn btn-primary btn-lg" role="button">Generate My CV</a>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img src="../assets/cvimage.svg" alt="">
        </div>
    </div>
</div>