<app-navbar></app-navbar>
<div class="container our-form">
    <h1 id="please">please enter your information that you would to show in your CV!</h1>
</div>
<form [formGroup]="cvForm" id="myform" class="container">
    <div class="accordion container" id="cv-parts">
        <div class="card">
            <div class="card-header" id="heading-one">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left text-button" type="button" data-toggle="collapse" data-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                            Personal Inforamtions 
                     </button>
                </h2>
            </div>
            <div id="collapse-one" class="collapse" aria-labelledby="heading-one" data-parent="#cv-parts">
                <div class="card-body">
                    <div class="form-group">
                        <span class="titles">personal informations </span>
                        <div>
                            <label for="input-first-name">First Name</label>
                            <input [class.is-invalid]="field('fName').invalid && field('fName').touched" formControlName="fName" type="text" class="form-control" id="input-first-name" name="first-name" placeholder="Ex: Donald">
                            <!-- <small [class.d-none]="cvForm.get('fName').valid || cvForm.get('fName').untouched" class="text-danger">First name is required</small> -->
                            <div *ngIf="field('fName').invalid && field('fName').touched">
                                <small *ngIf="field('fName').errors?.required" class="text-danger">First name is required</small>
                                <small *ngIf="field('fName').errors?.minlength" class="text-danger">First name must be at least 3 characters</small>
                            </div>
                        </div>
                        <div>
                            <label>Last Name</label>
                            <input formControlName="lName" type="text" class="form-control" id="input-last-name" name="last-name" placeholder="Ex: Trump">
                            <div *ngIf="field('lName').invalid && field('lName').touched">
                                <small *ngIf="field('lName').errors?.required" class="text-danger">Last name is required</small>
                                <small *ngIf="field('lName').errors?.minlength" class="text-danger">Last name must be at least 3 characters</small>
                            </div>
                        </div>
                        <div>
                            <label>Address</label>
                            <input formControlName="address" type="text" class="form-control" id="input-address" name="address" placeholder="Ex: USA">
                            <div *ngIf="field('address').invalid && field('address').touched">
                                <small *ngIf="field('address').errors?.required" class="text-danger">Adress is required</small>
                            </div>
                        </div>
                        <div>
                            <label>Phone</label>
                            <input formControlName="phone" type="text" class="form-control" id="input-phone" name="phone" placeholder="Ex: 0097259924213">
                            <div *ngIf="field('phone').invalid && field('phone').touched">
                                <small *ngIf="field('phone').errors?.required" class="text-danger">Phone is required</small>
                            </div>
                        </div>
                        <div>
                            <label>Email address</label>
                            <input formControlName="email" type="email" class="form-control" id="input-email1" name="email" placeholder="Ex: Trump@gmail.com">
                            <div *ngIf="field('email').invalid && field('email').touched">
                                <small *ngIf="field('email').errors?.required" class="text-danger">Email is required</small>
                            </div>
                        </div>
                        <div>
                            <label>LinkedIn Profile</label>
                            <input formControlName="linkedIn" type="url" class="form-control" id="input-linkedIn" name="linkedIn" placeholder="Ex: https://www.linkedin.com/company/donaldj.trumpforpresidentinc./">
                        </div>
                        <div>
                            <label>Socail Media</label>
                            <input formControlName="socialMedia" type="url" class="form-control" id="input-social-media" name="social-media" placeholder="Ex: https://www.facebook.com/DonaldTrump">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-two">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-button" type="button" data-toggle="collapse" data-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
            objective
          </button>
                </h2>
            </div>
            <div id="collapse-two" class="collapse" aria-labelledby="heading-two" data-parent="#cv-parts">
                <div class="card-body">
                    <div class="form-group">
                        <span class="titles">Objective </span>
                        <label for="objective-text-area">Write your Objective</label>
                        <textarea formControlName="objective" name="objective" class="form-control" id="objective-text-area" rows="3" placeholder="To replace this text with your own, just click it and start typing. Briefly state your career objective, or summarize what makes you stand out. Use language from the job description as keywords."></textarea>
                        <div *ngIf="field('objective').invalid && field('objective').touched">
                            <small *ngIf="field('objective').errors?.required" class="text-danger">Objective is required</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-three">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-button" type="button" data-toggle="collapse" data-target="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
            Experience
          </button>
                </h2>
            </div>
            <div id="collapse-three" class="collapse" aria-labelledby="heading-three" data-parent="#cv-parts">
                <div class="card-body">
                    <span class="titles">experience </span>
                    <ul id="experience-list">
                        <li>
                            <div formGroupName="experience" id="your-experience">
                                <span class="sub-title">Your Experience</span>
                                <div>
                                    <label>Date Start</label>
                                    <input formControlName="dateStart" name="date-start" type="date" class="form-control" id="input-date-start1" placeholder="Ex: 2000/2/22">
                                </div>
                                <div>
                                    <label>Date End</label>
                                    <input formControlName="dateEnd" name="date-end" type="date" class="form-control" id="input-date-end1" placeholder="Ex: 2020/2/22">
                                </div>
                                <div>
                                    <label>Jop Title</label>
                                    <input formControlName="jopTitle" name="jop-title" type="text" class="form-control" id="input-jop-title1" placeholder="Ex: Programmer">
                                </div>
                                <div>
                                    <label>Company</label>
                                    <input formControlName="companyName" name="company" type="text" class="form-control" id="input-company1" placeholder="Ex: Google">
                                </div>
                                <div>
                                    <label>Write short description</label>
                                    <textarea formControlName="description" name="description-experience" class="form-control" id="description-experience1" placeholder="Describe your responsibilities and achievements in terms of impact and results. Use examples, but keep it short." rows="3"></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="buttons-add-remove">
                        <button id="add-experience" class="btn btn-success " type="button">Add New Experience</button>
                        <button id="remove-experience" class="btn btn-danger " type="button">Remove Experience</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-four">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-button" type="button" data-toggle="collapse" data-target="#collapse-four" aria-expanded="false" aria-controls="collapse-four">
            Education
          </button>
                </h2>
            </div>
            <div id="collapse-four" class="collapse" aria-labelledby="heading-four" data-parent="#cv-parts">
                <div class="card-body">
                    <span class="titles">education </span>
                    <ul id="education-list">
                        <li>
                            <div formGroupName="education" id="your-education">
                                <span class="sub-title">Your Education</span>
                                <div>
                                    <label>Year-Month</label>
                                    <input formControlName="monthYear" name="month-year" type="month" class="form-control" id="input-month-year1" placeholder="Ex: jun 2000">
                                </div>
                                <div>
                                    <label>Degree</label>
                                    <input formControlName="degree" name="degree" type="text" class="form-control" id="input-degree1" placeholder="Ex: PHD">
                                </div>
                                <div><label>School</label>
                                    <input formControlName="school" name="school" type="text" class="form-control" id="input-school1" placeholder="Ex: MIT">
                                </div>
                                <div>
                                    <label>Write short description</label>
                                    <textarea formControlName="description" name="description-education" class="form-control" id="description-education1" placeholder="It’s okay to brag about your GPA, awards, and honors. Feel free to summarize your coursework too." rows="3"></textarea>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="buttons-add-remove">
                        <button id="add-education" class="btn btn-success " type="button">Add New Education</button>
                        <button id="remove-education" class="btn btn-danger " type="button">Remove Education</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-five">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-button" type="button" data-toggle="collapse" data-target="#collapse-five" aria-expanded="false" aria-controls="collapse-five">
            Skills
          </button>
                </h2>
            </div>
            <div id="collapse-five" class="collapse" aria-labelledby="heading-five" data-parent="#cv-parts">
                <div class="card-body">
                    <span class="titles">skills </span>
                    <ul id="skills-list">
                        <li>
                            <label>Skill</label>
                            <input name="skills" type="text" class="form-control" placeholder="List one of your strengths">
                        </li>
                    </ul>
                    <button id="add-skill" class="btn btn-success " type="button">Add New skill</button>
                    <button id="remove-skill" class="btn btn-danger " type="button">Remove skill</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-six">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-button" type="button" data-toggle="collapse" data-target="#collapse-six" aria-expanded="false" aria-controls="collapse-six">
            Languages
          </button>
                </h2>
            </div>
            <div id="collapse-six" class="collapse" aria-labelledby="heading-six" data-parent="#cv-parts">
                <div class="card-body">
                    <span class="titles">languages </span>
                    <ul id="languages-list">
                        <li>
                            <label>Language</label>
                            <input name="Languages" type="text" class="form-control" placeholder="List one of your languages">
                        </li>
                    </ul>
                    <button id="add-language" class="btn btn-success " type="button">Add New language</button>
                    <button id="remove-language" class="btn btn-danger " type="button">Remove language</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-seven">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-button" type="button" data-toggle="collapse" data-target="#collapse-seven" aria-expanded="false" aria-controls="collapse-seven">
            Certifications & Courses
          </button>
                </h2>
            </div>
            <div id="collapse-seven" class="collapse" aria-labelledby="heading-seven" data-parent="#cv-parts">
                <div class="card-body">
                    <span class="titles">certification & courses </span>
                    <ul id="c-and-c-list">

                        <li>
                            <label>certification & courses</label>
                            <input name="c-and-c" type="text" class="form-control" placeholder="List one of your courses or certification">
                        </li>
                    </ul>
                    <button id="add-c-and-c" class="btn btn-success " type="button">Add New certification & courses</button>
                    <button id="remove-c-and-c" class="btn btn-danger " type="button">Remove certification & courses</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-eight">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-button" type="button" data-toggle="collapse" data-target="#collapse-eight" aria-expanded="false" aria-controls="collapse-eight">
            References
          </button>
                </h2>
            </div>
            <div id="collapse-eight" class="collapse" aria-labelledby="heading-eight" data-parent="#cv-parts">
                <div class="card-body">
                    <span class="titles">References </span>
                    <ul id="references-list">

                        <li>
                            <label>Reference</label>
                            <input name="ref" type="text" class="form-control" placeholder="Reference">
                        </li>
                    </ul>
                    <button id="add-reference" class="btn btn-success " type="button">Add New Reference</button>
                    <button id="remove-reference" class="btn btn-danger " type="button">Remove Reference</button>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 20px;">
        <button type="submit" id="sub" class="btn btn-primary">Submit & Get My CV </button>
        <button (click)="loadApiData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>
    </div>
    {{cvForm.value | json}}
</form>