<div id="jumbo2" class="jumbotron jumbotron-fluid ">
    <div class="container">
        <span class="display-4">What are the advantages of Joo's Online CV Creator</span>
    </div>
    <div class="container">
        <div class="row" id="advs">
            <div class="col-12 col-md-4 advantages ">
                <div class="card border-primary mb-3">
                    <div class="card-body text-primary">
                        <b class="card-title advantages-cards">Easy</b>
                        <p class="card-text">Just go to the Generate button, and fill the informations to get your own CV.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 advantages">
                <div class="card border-primary mb-3">
                    <div class="card-body text-primary">
                        <b class="card-title advantages-cards">Speed</b>
                        <p class="card-text">Since no need to design a CV template.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 advantages">
                <div class="card border-primary mb-3">
                    <div class="card-body text-primary">
                        <b class="card-title advantages-cards">Free</b>
                        <p class="card-text">No need to the money, it's free.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container about-us">
            <span class="display-4">About Us</span>
            <p class="lead">We offer you the best online CV creator and free professional advice from career experts. We’ll guide you through the entire recruitment process to your dream job.</p>
        </div>
    </div>
</div>