<h2 class="cv-parts">experience</h2>
<div id="experience" class="row">
    <div class="col-1-sm line-v"></div>
    <div class="col-11" id="exp-part">
        <ul id="experience-list">
            <li *ngFor="let exp of cv.experience">
                <div id="exper">
                    <div>
                        <span id="date-start">{{exp.dateStart}}</span>
                        <span id="panctuation-mark">, </span>
                        <span id="date-end">{{exp.dateEnd}}</span>
                    </div>
                    <div>
                        <span id="jop-title">{{exp.jopTitle}}</span>
                        <span id="panctuation-mark">,</span>
                        <span id="company">{{exp.companyName}}</span>
                    </div>
                    <div>
                        <p id="jop-description">
                            {{exp.description}}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>