<h2 class="cv-parts">experience</h2>
<div id="experience" class="row">

    <div class="col-1-sm line-v"></div>
    <div class="col-11" id="exp-part">
        <ul id="experience-list">
            <li>
                <div id="exper">
                    <div>
                        <span id="date-start">from</span>
                        <span id="panctuation-mark">, </span>
                        <span id="date-end">to</span>
                    </div>
                    <div>
                        <span id="jop-title">job title</span>
                        <span id="panctuation-mark">,</span>
                        <span id="company">company</span>
                    </div>
                    <div>
                        <p id="jop-description">
                            Describe your responsibilities and achievements in terms of impact and results. Use examples, but keep it short.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div id="exper2">
                    <div>
                        <span id="date-start2">from</span>
                        <span id="panctuation-mark">-</span>
                        <span id="date-end2">to</span>
                    </div>
                    <div>
                        <span id="jop-title2">jop title</span>
                        <span id="panctuation-mark">,</span>
                        <span id="company2">company</span>
                    </div>
                    <div id="jop-description2">
                        <p>
                            Describe your responsibilities and achievements in terms of impact and results. Use examples, but keep it short.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>