<h2 class="cv-parts">education</h2>
<div id="education" class="row">

    <div class="line-v"></div>
    <div class="col-11" id="edu-part">
        <ul id="education-list">
            <li *ngFor="let eduo of cv.education">
                <div id="edu">
                    <div>
                        <span id="month-year1">{{eduo.monthYear}}</span>
                    </div>
                    <div>
                        <span id="degree1">{{eduo.degree}}</span>
                        <span id="panctuation-mark">,</span>
                        <span id="school1">{{eduo.school}}</span>
                    </div>
                    <div>
                        <p id="edu-descrip1">
                            {{eduo.description}}
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>